

<div class="container-logo">
     

</div>



<main class="conteudoPrincipal">
    <div class="container">
        <h2 class="subtitulo">Navegue pelas disponibilidades do Hiper</h2>

        <nav>
            <!--classe pai mudar aqui o flex box -->
            <ul class="conteudoPrincipal-Lista">
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/203150927-Hiper-Gest%C3%A3o">Hiper Gestão</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/115000345352-Hiper-Loja">Hiper Loja</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/115000990708-Hiper-Caixa">Hiper Caixa</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/360001652452-Central-de-Artigos">Central de Artigos</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/360001651471-Central-de-Relat%C3%B3rios">Relatórios</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/360001652472-Central-de-V%C3%ADdeos">Videos</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/360001557631-Release-Notes">Release Note</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/360001352232-Base-de-Conhecimento">Base de Conhecimento</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/115000947668-Hiper-Windows">Hiper Windows (Legado)</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/115000990728-Hiper-Vendas">Hiper Vendas</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/115000025232-Portal-do-Hiperador">Hiperador</a></li>
                <li class="conteudoPrincipal-Lista-link"><a href="https://ajuda.hiper.com.br/hc/pt-br/categories/360000068551-Outras-informa%C3%A7%C3%B5es">Assuntos Gerais</a></li>

            </ul>
        </nav>
    </div>
</main>




<input type="checkbox" id="open_menu" />

<div id="container" class="abrir">

    <div id="imagemChat">
        <img id="logo" alt="logo" class="logo" src="~/css/hiper.png" />
    </div>
    <div id="displaymensagem"> </div>


    <div class="inputs">
        <input type="text"
               id="mensagem"
               placeholder="Escreva a sua mensagem" />
        <input id="Enviar" type="button" value="Enviar" />
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/API - chat.js"></script>
<script src="~/js/js - chat.js"></script>
<link href="~/css/Chat CSS.css" rel="stylesheet" />
<link href="~/css/AjudaGridcss.css" rel="stylesheet" />